spring:
  config:
    activate:
      on-profile: dev
  application:
    name: pickle
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

jwt:
  secret-key: ${JWT_SECRET_KEY}

oauth:
  google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    redirect-uri: ${GOOGLE_REDIRECT_URI}
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    redirect-uri: ${KAKAO_REDIRECT_URI}
  oidc:
    google:
      issuer: "https://accounts.google.com"
      audience: ${oauth.google.client-id}
      jwks-uri: "https://www.googleapis.com/oauth2/v3/certs"
    kakao:
      issuer: "https://kauth.kakao.com"
      audience: ${oauth.kakao.client-id}
      jwks-uri: "https://kauth.kakao.com/.well-known/jwks.json"

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
